block title
  title Edit Gallery

block content
  h1 Gallery
  div(id='container')
    img(src='#{gallery.link}')
    form(method="POST", action="/gallery/#{gallery.id}?_method=PUT")
      input(placeholder='Image link', name ='link')
      input(value='#{gallery.author}', name='author', placeholder='#{gallery.author}')
      input(type='text', value='#{gallery.description}', name ='description', placeholder='#{gallery.description}')
      button EDIT
