form(method="POST", action='//#{.}/edit?_method=PUT')
  input(type='text', name='author', placeholder='...', value='#{.}')
  br
  input(type='text', name='link', placeholder='...', value='#{.}')
  br
  input(type='textarea', rows='2' cols='100' name='description', placeholder='...', value='#{.}')
  br
  input(type='submit', value='SAVE')
form(method="POST", action='//#{.}?_method=DELETE')
  br
  input(type='submit', value='DELETE')