doctype html

h1 | _ARCHITEKT

p | #{gallery.description}

form(method="POST", action='/gallery/#{gallery.id}/edit?_method=PUT')
  input(type='text', name='author', placeholder='...', value='#{gallery.author}')
  br
  input(type='text', name='link', placeholder='...', value='#{gallery.link}')
  br
  input(type='textarea', rows='2' cols='100' name='description', placeholder='...', value='#{gallery.description}')
  br
  input(type='submit', value='SAVE')
form(method="POST", action='/gallery/#{gallery.id}?_method=DELETE')
  br
  input(type='submit', value='DELETE')