doctype html

html
  head
    link(rel="stylesheet" type="text" href="/css/styles.css")
    title
      |Gallery Index


    h1 _ARCHITEKT

  body
    #buttons
      button Login
      button Register

    div(class=flex-container)
      ul
        each gallery in galleries
          li
            div(class=flex-item)
              img(src='#{gallery.link}')
              p #{gallery.author}
              p #{gallery.description}

