extends ./layouts/main

block content
  div.singlePhoto
    div(id="single-main")
      ul.single-list
        li.single-item
          h3 #{photo.author}
          img(class="single-image" id="#{photo.id}" src="#{photo.link}")
          p.singleInfo #{photo.link}
          p.singleInfo #{photo.description}
      button(class="big" id="editButton" onclick="divShow()") EDIT

      div(id="hiddenEdit")
        div(id="editStuff")
          form(id="editForm", method="POST", action="/gallery/#{photo.id}?_method=PUT")
            label Image Author
            br
            input(class="editInputs", value='#{photo.author}', name='author')
            br
            label Image Link
            br
            input(class="editInputs", value= '#{photo.link}', name ='link')
            br
            label Image Description
            br
            input(class="editInputs", type='text', value='#{photo.description}', name ='description', placeholder='#{photo.description}')
            br
            button.save SAVE

        div(id="deleteStuff")
          form(id="deleteForm", method= "DELETE", action="/gallery/#{photo.id}?_method=DELETE")
            button.delete DELETE

    div(id="sideDivMain")
      ul.side-container
        each photo in photos
          li.sideStuff
            a(class="sideImage" href="/gallery/#{photo.id}")
             img(class="gallery-images" src="#{photo.link}")
            p #{photo.author}

